body {
  font-family: Arial, sans-serif;
  margin:0;
  padding:0;
}
.child {
display: inline-block;
}

.cr {
bottom: 1em;
display: block;
position: relative;
}

#create,#code {
display: inline-block;
}

.base {
  height:100vh;
  width:100%;
  background-color:#FFBFF9;
  overflow:hidden;
  position: relative;
}

.parent {
  padding: 8em 8em;
}

#toggle {
max-height: 30em;
margin-bottom:15em;
position:relative;
grid-template-columns: 1fr 1fr 1fr;
grid-auto-rows: 1fr;
display: inline-grid;

}
.calTog {
padding: 10px 13px;
display: inline-block;
margin: 4px 2px;
background-color: white;
border: 1px solid black;
border-radius:25px;
pointer-events:none;
}



.calTogg {
border: none;
background-color: transparent;
cursor: pointer;
pointer-events:auto;
}

.calTog:has(.calTogg:hover){
filter: brightness(0.8);
}

.calTog:has(.calTogg:active){
  filter:brightness(0.8);
}

.calDel:hover {
filter: brightness(0.7);
}

.calDel {
height:20px;
width:20px;
padding:2px 1px;
border-radius: 999px;
border: 1px solid black;
text-align:center;
cursor: pointer;
pointer-events:auto;
background-color: #E0E1E1;
}

.inp {
margin-bottom: .5em;
position: relative;
}

#calendar {
outline: 1px solid black;
border-radius:10px;
overflow: hidden;
  width: 60%;
  margin: 0 30px 0 auto;
  justify-content: center;
}

#calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
#days {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  gap: 16px;
  background-color: #333;
  color: #fff;
}

#calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: .5px;
  background-color: #333;
  opacity: 1;
}

#calendar-body button {
  padding: 30px 30px;
  background-color: #E0E1E1;
  text-align: center;
}